html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #e7e7e7;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
}

#header {
  padding: 30px 20px;
  border-bottom: 1px solid darkgray;
}

#header ul {
  margin-top: 5px;
}

#header li {
  display: inline-block;
}

#footer {
  padding: 20px 20px;
  font-size: 0.75rem;
  border-top: 1px solid darkgray;
}

.content {
  margin: 20px;
}

.content > div {
  margin-bottom: 20px;
}

.content p {
  margin: 10px 0;
}

.content ul ul {
  list-style-type: disc;
}

.content li {
  margin-bottom: 10px;
}

.content ul ul li {
  margin-left: 20px;
}

a {
  color: #000000;
}

a:hover {
  color: darkgray;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

blockquote {
  margin-left: 10px;
  padding: 10px;
  border-left: 5px solid darkgrey;
  width: 50%;
}

.accordion-item .accordion-content {
  display: none;
}

.accordion-item .accordion-header:hover {
  color: darkgray;
  cursor: pointer;
}

.accordion-item .accordion-header h2::after {
  float: right;
  content: "+";
}

.accordion-item input[type="checkbox"] {
  display: none;
}

.accordion-item input[type="checkbox"]:checked ~ .accordion-content {
  display: block;
}

.accordion-item input[type="checkbox"]:checked ~ .accordion-header h2::after {
  float: right;
  content: "\2013";
}
